{% extends 'index.html' %}

{% block title %} Отзывы {% endblock title %}

{% block content %}
    <div class="container">
        <h1>Оставьте отзыв</h1>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="name" class="form-label">Имя</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            
            <div class="mb-3">
                <label for="message" class="form-label">Сообщение</label>
                <textarea class="form-control" id="message" name="message"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
{% endblock content %}