{% extends 'index.html' %}

{% block title %}Наши планы{% endblock title %}

{% block content %}
    <div class="container">
        <h1>Планы на развитие:</h1>
        <p>1. Сложная логика героев. В любой команде должна быть слаженная работ, в будущем у героев будет более интересная логика поведения
            тонкие будут отходить при приближении противников, а сильные герои будут выбирать более приоритетные цели для атаки.<br>
            2. Статистика. Пока что игрок может чисто визуально оценить полезность выбранных героев. В будущем в конце каждого раунда
            будет подробная статистика.<br>
            3. Режим компании. Пока что доступен режим матча, где команда игрока сражается с командой бота. В будущем же будет 
            режим компании, в котором придется развивать своих игроков, учавствовать в чемпионатах и проложить путь от низов до вершины!<br>
            4. Больше героев. Пока что пулл героев очень маленький, но для разнообразия будут появляться новые с уникальными способностями и логикой.<br>
        </p>
    </div>

    
{% endblock content %}