{% extends 'index.html' %}

{% block title %}Наши планы{% endblock title %}

{% block content %}
    <div class="container">
        <h1>Планы на развитие:</h1>
        <p>1. Сложная логика героев. бубубу лучник будет отходить бубубу будут фокусить одну цель<br>
            2. Сложная статистика. бубубу после матча будет статистика бубубу там будет много всего интересногО<br>
            3. Режим компании. Бубубу сможете проделать путь от неизвестной команды до вершины бубубубу<br>
            4. Больше героев. бубубу больше героев богу героев бубубубу<br>
            5. Добавление финального босса. СТАРЫЙ БОГ😡</p>
    </div>

    
{% endblock content %}